{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <h1>Article</h1>
        <a class="btn btn-outline-primary p-3" href="{{ path('article_index') }}"><i class="fas fa-hand-point-left"></i> Back</a>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ article.image }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ article.prix }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ article.active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-outline-primary mt-2" href="{{ path('article_edit', {'id': article.id}) }}"><i class="far fa-edit"></i></a>
    {{ include('article/_delete_form.html.twig') }}
</div>
{% endblock %}
